.headerText {
  font-size: 4rem;
  margin-left: 5%;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.form {
  display: grid;
  justify-content: center;
  flex-direction: column;
  width: 75vw;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.label {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2.5rem;
}

.email {
  font-size: 26px;
  outline: none;
  border-radius: 10px;
  padding: 1rem;
}

.message {
  height: 220px;
  resize: none;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  vertical-align: top;
  border-radius: 30px;
  outline: none;
  font-size: 26px;
  padding: 1rem;
}

.submit {
  justify-self: center;
  color: black;
  font-size: 2.5rem;
  width: 55%;
  outline: none;
  border-radius: 50px;
  padding: 1rem;
}


@media (max-width: 428px) {
  .headerText {
    font-size: 30px;
    margin-left: 0;
    width: 100%;
  }
  
  .formContainer {
    width: 100vw;
  }

  .info {
    width: 80vw;
    flex-direction: column;
  }

  .label {
    font-size: 25px;
  }

  .email {
    font-size: 20px;
    padding: .5rem;
  }

  .message {
    font-size: 20px;
    padding: 1rem;
  }

  .submit {
    font-size: 25px;
  }
  
}


