.main {
  display: flex;
  top: 0;
  z-index: 1000;
  position: sticky;
  max-width: 100%;
  border-bottom: 2px solid white;
  background-color: #101518;
  padding: 4rem;
  justify-content: space-between;
}

.links {
  gap: 8rem;
  margin-left: 4rem;
  display: flex;
}

.button:hover {
  color: #222222;
}

.button{
  display: flex;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  padding: 1rem;
  align-content: center;
}

.contactMeLink {
  margin-right: 4rem;
  border: 2px solid white;
  border-radius: 10px;
  padding-inline: 1rem;
}

.contactButton {
  display: flex;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  padding: 1rem;
  align-content: center; 
}

.contactMeLink:hover {
  background-color: #222222;
}

.contactMeLinkText{
  text-decoration: none;
}
.contactMeLink:hover .contactMeLinkText{
  color: black;
}
